<div class="r-full-width">
	<div class="r-wp-masterhead r-full-width">
		<h1>我的工作台</h1>
		<p>管理团队，新建项目，发起评审，变更控制等一系列工作的一站式平台</p>
	</div>

	<div class="r-wp-gap">
		
	</div>
	
	<div class="container">

		<uib-accordion close-others="true">

			<uib-accordion-group heading="变更/评审进行中">
				变更工作区
				<br><br><br><br><br>
			</uib-accordion-group>			

			<uib-accordion-group is-open="true" heading="我的项目">
				<div class="r-wp-board" ng-show = "panel.teams.length > 0">
					<button class="btn btn-default r-wp-small-margin-bottom" type="button" ng-click="panel.isCreateProjectCollapsed = !panel.isCreateProjectCollapsed">创建新项目</button>
					<div uib-collapse="panel.isCreateProjectCollapsed" class="r-wp-board">
						<div class="form-group">
							<label for="r-id-wp-create-project-name">项目名称:</label>
							<input type="text" id="r-id-wp-create-project-name" class="form-control" ng-model='panel.projectNameToCreate'>
						</div>

						<div class="form-group">
							<label for="r-id-wp-create-project-description">项目描述:</label>
							<textarea name="" id="r-id-wp-create-project-description" cols="30" rows="10" class="form-control" ng-model="panel.projectDescriptionToCreate"></textarea>
						</div>	

						<div class="form-group">
							<label for="r-id-wp-create-project-team">负责团队：</label>
							<span class="input-group-btn" uib-dropdown id="r-id-wp-create-project-team">
									<a class="btn btn-default" type="button" uib-dropdown-toggle>{{panel.projectTeam.name}}<span class="caret"></span>
									</a>

									<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="createProjectteam">
										<li role="menuitem" ng-repeat="team in panel.teams"><a href="#" ng-click="panel.projectTeam = team">{{team.name}}</a></li>	
									</ul>
							</span>
						</div>

						<button class="btn btn-primary form-control" ng-click="createProject()" ng-disabled="panel.teams.length == 0">提交</button>					
					</div>

					<table class="table table-bordered">
						<tr>
							<th>序号</th>
							<th>名称</th>
							<th>描述</th>
							<th>阶段</th>
							<th>团队</th>
							<th>操作</th>
						</tr>

						<tr ng-repeat="prj in panel.projects">
							<td>P{{panel.projects.indexOf(prj)}}</td>
							<td>{{prj.name}}</td>
							<td>{{prj.description}}</td>
							<td>{{prj.phase | mapping:panel.projectPhaseMapping}}</td>
							<td>{{prj.team.name}}</td>
							<td>
								<button class="btn btn-primary" ng-click="workOnProject(prj)">详情</button> 
								<span ng-show="currentUser._id == prj.owner._id">
									<button class="btn btn-default" ng-click="deleteProject(prj)">删除</button>
									<!-- <button class="btn btn-default" ng-click="deactiveProject(prj)">封存</button> -->
								</span>
							</td>
						</tr>
					</table>

					<div class="r-wp-board bordered" uib-collapse="panel.workingProjectCollapse">
						<h3>{{panel.workingProject.name}}</h3>
						<p>{{panel.workingProject.description}}</p>
						<p>{{panel.workingProject.createDate}}</p>
						<p>{{panel.workingProject.endDate}}</p>
						<div class="btn-group" uib-dropdown>
							<button class="btn btn-primary" type="button" uib-dropdown-toggle="">{{panel.workingProject.phase | mapping:panel.projectPhaseMapping}}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" uid-dropdown-menu role="menu" aria-labelledby="btn-menu">
								<li role="menuitem" ng-repeat="(k,v) in panel.projectPhaseMapping" ><a ng-click="panel.workingProject.phase=v">{{k}}</a></li>
							</ul>
						</div>

					</div>

				</div>

				<div ng-hide = "panel.teams.length > 0">
							<p>您还没有参与团队</p>
				</div>
			</uib-accordion-group>

			<uib-accordion-group heading="我的团队">
				<div class="r-wp-board">
					<button class="btn btn-default r-wp-small-margin-bottom" type="button" ng-click="panel.isCreateTeamCollapsed = !panel.isCreateTeamCollapsed">创建新团队</button>
					<div uib-collapse="panel.isCreateTeamCollapsed">
						<div class="form-group">
							<label for="r-id-wp-create-team-name">团队名称:</label>
							<input type="text" id="r-id-wp-create-team-name" class="form-control" ng-model='panel.teamNameToCreate'>
						</div>

						<div class="form-group">
							<label for="r-id-wp-create-team-description">团队描述:</label>
							<textarea name="" id="r-id-wp-create-team-description" cols="30" rows="10" class="form-control" ng-model="panel.teamDescriptionToCreate"></textarea>
						</div>	

						<button class="btn btn-primary form-control" ng-click="createTeam()">提交</button>					
					</div>
				</div>
				
				
				<uib-tabset active="panel.activeTeamTabIndex">
					<uib-tab index="$index" ng-repeat="team in panel.teams" heading="{{team.name}}">
						<div class="r-wp-board" ng-show="currentUser._id == team.leader._id">
							<div class="row r-wp-team-leader-panel">
								<button class="btn btn-default r-wp-small-margin-bottom" type="button" ng-click="panel.isInviteCollapsed = !panel.isInviteCollapsed">邀请面板</button>
								<button class="btn btn-default r-wp-small-margin-bottom" type="button" ng-click="releaseTeam(team)">解散团队</button>								
							</div>

							<div uib-collapse="panel.isInviteCollapsed">
								<div class="row">
									<div class="col-md-6">
									 	<div class="input-group">
											<input type="text" ng-model="panel.usernameToInvite" class="form-control" placeholder="用户名"> 
											
											<span class="input-group-btn" uib-dropdown>
												<a class="btn btn-default" type="button" uib-dropdown-toggle ng-init="panel.inviteRoleCN='队员'">{{panel.inviteRoleCN}}<span class="caret"></span>
												</a>

												<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="invite-roles">
													<li role="menuitem"><a href="#" ng-click="panel.inviteRoleCN='队员'">队员</a></li>
													<li role="menuitem"><a href="#" ng-click="panel.inviteRoleCN='教练'">教练</a></li>	
												</ul>
											</span>
											
										</div>	
									</div>
									
									<div class="col-md-6">
										<button class="btn btn-primary" type="button" ng-click="invite()">
													添加<!-- <i class="glyphicon glyphicon-plus"></i> -->
												</button>
									</div>

								</div>
							</div>
						</div>

						<table class="table table-bordered">
							<tr>
								<th>编号</th>
								<th>姓名</th>
								<th>电子邮件</th>
								<th>角色</th>
								<th>操作</th>
							</tr>
							<tr ng-repeat="member in team.members">
								<td>M{{team.members.indexOf(member)}}</td>	
								<td>{{member.user.name}}</td>
								<td>{{member.user.email}}</td>
								<td>队员{{member.user._id == team.leader._id ? ", 队长" : ""}}</td>
								<td><a href="" ng-click="deleteMember(member)" ng-show="currentUser._id == team.leader._id">删除</a>
									<a href="" ng-click="leaveThisTeam(team)" ng-show="currentUser._id == member.user._id && currentUser._id != team.leader._id">退出</a> 
								</td>
							</tr>

							<tr ng-repeat="user in team.coaches">
								<td>C{{team.coaches.indexOf(user)}}</td>	
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>
								<td>教练</td>
								<td><a href="" ng-click="deleteCoach(user)" ng-show="currentUser._id == team.leader._id">删除</a>
									<a href="" ng-click="leaveThisTeam(team)" ng-show="currentUser._id == user._id">退出</a> 
								</td>
							</tr>

						</table>						

					</uib-tab>
				</uib-tabset>

			</uib-accordion-group>

			<uib-accordion-group heading="我的资产">
				组织资产工作区
				<br><br><br><br><br><br><br><br><br>
			</uib-accordion-group>
	</uib-accordion>

	</div>




</div>