<div class="r-full-width">
	<div class="r-wp-masterhead r-full-width">
		<h1>我的工作台</h1>
		<p>管理团队，新建项目，发起评审，变更控制等一系列工作的一站式平台</p>
	</div>

	<div class="r-wp-gap">
		
	</div>
	
	<div class="container">

		<uib-accordion close-others="true">

			<uib-accordion-group heading="评审进行中">
				评审工作区
				<br><br><br><br><br><br><br><br><br><br><br><br>
			</uib-accordion-group>

			<uib-accordion-group heading="变更进行中">
				变更工作区
				<br><br><br><br><br>
			</uib-accordion-group>			

			<uib-accordion-group heading="我的项目">
				项目工作区
				<br><br><br><br><br><br><br><br><br><br><br><br>
			</uib-accordion-group>

			<uib-accordion-group is-open="true" heading="我的团队">
				<div class="r-wp-board">
					<button class="btn btn-default r-wp-small-margin-bottom" type="button" ng-click="panel.isCreateTeamCollapsed = !panel.isCreateTeamCollapsed">创建新团队</button>
					<div uib-collapse="panel.isCreateTeamCollapsed">
						<div class="form-group">
							<label for="r-id-wp-create-team-name">团队名称:</label>
							<input type="text" id="r-id-wp-create-team-name" class="form-control" ng-model='panel.teamNameToCreate'>
						</div>

						<div class="form-group">
							<label for="r-id-wp-create-team-description">团队描述:</label>
							<textarea name="" id="r-id-wp-create-team-description" cols="30" rows="10" class="form-control" ng-model="panel.teamDescriptionToCreate"></textarea>
						</div>	

						<button class="btn btn-primary form-control" ng-click="createTeam()">提交</button>					
					</div>
				</div>
				
				
				<uib-tabset active="panel.activeTeamTabIndex">
					<uib-tab index="$index" ng-repeat="team in panel.teams" heading="{{team.name}}">
						<div class="r-wp-board">
							<button class="btn btn-default r-wp-small-margin-bottom" type="button" ng-click="panel.isInviteCollapsed = !panel.isInviteCollapsed">邀请面板</button>
							<div uib-collapse="panel.isInviteCollapsed">
								<div class="row">
									<div class="col-md-6">
									 	<div class="input-group">
											<input type="text" ng-model="panel.usernameToInvite" class="form-control" placeholder="用户名"> 
											
											<span class="input-group-btn" uib-dropdown>
												<a class="btn btn-default" type="button" uib-dropdown-toggle ng-init="panel.inviteRoleCN='队员'">{{panel.inviteRoleCN}}<span class="caret"></span>
												</a>

												<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="invite-roles">
													<li role="menuitem"><a href="#" ng-click="panel.inviteRoleCN='队员'">队员</a></li>
													<li role="menuitem"><a href="#" ng-click="panel.inviteRoleCN='教练'">教练</a></li>	
												</ul>
											</span>
											
										</div>	
									</div>
									
									<div class="col-md-6">
										<button class="btn btn-primary" type="button" ng-click="invite()">
													添加<!-- <i class="glyphicon glyphicon-plus"></i> -->
												</button>
									</div>

								</div>
							</div>
						</div>

						<table class="table table-bordered table-hover">
							<tr>
								<th>编号</th>
								<th>姓名</th>
								<th>电子邮件</th>
								<th>角色</th>
								<th>操作</th>
							</tr>
							<tr ng-repeat="member in team.members">
								<td>M{{team.members.indexOf(member)}}</td>	
								<td>{{member.user.name}}</td>
								<td>{{member.user.email}}</td>
								<td>队员</td>
								<td><a href="" ng-click="deattach(user)">删除</a></td>
							</tr>

							<tr ng-repeat="user in team.coaches">
								<td>C{{team.coaches.indexOf(user)}}</td>	
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>
								<td>教练</td>
								<td><a href="" ng-click="deattach(user)">删除</a></td>
							</tr>

						</table>						

					</uib-tab>
				</uib-tabset>

			</uib-accordion-group>

			<uib-accordion-group heading="我的资产">
				组织资产工作区
				<br><br><br><br><br><br><br><br><br>
			</uib-accordion-group>
	</uib-accordion>

	</div>




</div>