@fontSizeLogo:60px;

#r-id-login-title-p {
	margin-top : 80px;
	margin-bottom:60px;

	text-align : center;
	font-size : @fontSizeLogo;
}

#r-id-login-footer-p {
	margin-top:60px;
}

#r-id-login-submit {
	margin-top:20px;
}

#r-id-login-form {
	width : 400px;
}

