// Global styles

@fontSizeLogo:60px;
@fontSizePageTitle:20px;
@mainColor:blue;

*{
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}


// Common Mixins

// Common class
.r-full-width {
	width:100%
}

.r-vertical-button {
	margin-top:10px;
	margin-bottom:10px;
}



//import files
@import "loginpage.less";
@import "registerpage.less";
@import "registerpage.less";
@import "mainpage.less";
@import "nav.less";


