<div class="container">
	<div id="r-id-update-profile-title-p">更新用户信息</div>

	<div class="img-responsive center-block">
		
		<form id="r-id-update-profile-form" class="img-responsive center-block">
			<div class="form-group">
				<label for="r-id-update-profile-username" class="control-label">用户名*:</label>

				<input type="text" id="r-id-update-profile-username"  class="form-control" ng-model="currentUser.username" ng-disabled="true">				
			</div>

			<div class="form-group">				
				<label for="r-id-update-profile-old-password">旧密码*:</label>
				<input type="password" id="r-id-update-profile-old-password" class="form-control" ng-model="oldpassowrd">
			</div>

			<div class="form-group">				
				<label for="r-id-update-profile-password">新密码*:</label>
				<input type="password" id="r-id-update-profile-password" class="form-control" ng-model="formdata.password">
			</div>

			<div class="form-group">				
				<label for="r-id-update-profile-cpassword">确认新密码*:</label>
				<input type="password" id="r-id-update-profile-cpassword" class="form-control" ng-model="cpassword">
			</div>


			<div class="form-group">
				<label for="r-id-update-profile-name">姓名*:</label>
				<input type="text" id="r-id-update-profile-name" ng-model="formdata.name" class="form-control">
			</div>

			<div class="form-inline">	
				<label for="" class="control-label">性别*:</label>			
				<div class="radio">
					<label>
						<input type="radio" name="sex" value="male" ng-model="formdata.sex">男
					</label>
				</div>

				<div class="radio">
					<label>
						<input type="radio" name="sex" ng-model="formdata.sex" value="female">女
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-birth">出生日期:</label>

				<div datepicker date-format="yyyy-MM-dd">
					<input type="text" id="r-id-update-profile-birth" ng-model="formdata.birth" class="form-control">
				</div>
				
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-colleage">院校*:</label>
				<input type="text" id="r-id-update-profile-colleage" ng-model="formdata.colleage" class="form-control">
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-major">主修专业:</label>
				<input type="text" id="r-id-update-profile-major" ng-model="formdata.major" class="form-control">
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-lang">工作语言:</label>
				<input type="text" id="r-id-update-profile-lang" ng-model="formdata.lang" class="form-control">
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-email">电子邮箱*:</label>
				<input type="email" id="r-id-update-profile-email" ng-model="formdata.email" class="form-control">
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-tel">电话*:</label>
				<input type="text" type="text" id="r-id-update-profile-tel" ng-model="formdata.tel" class="form-control">
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-address">地址:</label>
				<input type="text" id="r-id-update-profile-address" ng-model="formdata.address" class="form-control">
			</div>

			<div class="form-group">
				<label for="r-id-update-profile-graduatedDate">毕业时间*:</label>

				<div datepicker date-format="yyyy-MM-dd">
					<input type="text" id="r-id-update-profile-graduatedDate" ng-model="formdata.graduatedDate" class="form-control">
				</div>
			</div>
				
			<div class="form-group">
				<label for="r-id-update-profile-githubAccount">Gihub 账号:</label>
				<input type="text" id="r-id-update-profile-githubAccount" ng-model="formdata.githubAccount" class="form-control">
			</div>

			<button class="btn btn-primary text-center col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 r-vertical-button" id="r-id-update-profile-submit" ng-click="updateProfile()">提交</button>

			<button class="btn btn-info text-center col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2 r-vertical-button" id="r-id-update-back" ng-click="back()">返回</button>
		</form>		

		<div class="r-login-footer">
			<div class="row">
					<p class="col-md-12">©2016 武汉星云智慧科技有限公司 | 鄂ICP备16008344号</p>
			</div>
		</div>

	</div>

</div>