<div>
	<div class="modal-header">
		<h3 class="modal-title">{{title}}</h3>
	</div>

	<div class="modal-body">
		<input type="text" class="form-control" ng-model="modal.user" placeholder="username" uib-typeahead="user as user.username for user in getSuggestUsers($viewValue)" typeahead-loading="loadingSuggestions" typeahead-no-results="noResults" ng-change="onChange()">
        
        <i class="glyphicon glyphicon-refresh" ng-show="loadingSuggestions"></i>
        <div ng-show="noResults">
        	<i class="glyphicon glyph-remove"></i> No Results Found
        </div>  
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
	</div>	
</div>

