<nav class="navbar navbar-inverse navbar-fixed-top r-nav-mainbar" role="navigation">
	<!-- <div class="container"> -->
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a ui-sref="nav.main" class="navbar-brand">WhatsProject</a>
		</div>

		<div uib-collapse="navCollapsed" class="collapse navbar-collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="token == null"><a ui-sref="nav.workpanel">工作台<span class="sr-only">(current)</span></a></li>
				<li><a href="#">创新团队</a></li>
				<li><a href="#">可重用资产</a></li>
				<li><a href="#">教练团</a></li>
				<li><a href="#">帮助指南</a></li>
				<li ng-hide="currentUser == null">
					<a id="r-nav-id-name" ui-sref="updateprofile">你好, {{currentUser.name}}</a>
				</li>

				<li><button class="btn btn-primary navbar-btn r-nav-navbar-button" type="button" ng-show="token == null" ng-click="login()">登录</button></li>
				<li><botton class="btn btn-primary navbar-btn r-nav-navbar-button" type="button" ng-hide="token == null" ng-click="logout()">退出登录</button></li>
			</ul>
		</div>
	<!-- </div> -->
</nav>

<div ui-view="">
	
</div>

<footer class="r-nav-footer">
	<div class="container">
		<div class="row">
			<p>©2016 武汉星云智慧科技有限公司</p>
		</div>

		<div class="row">
			<p>鄂ICP备16008344号</p>
		</div>
	</div>

</footer>