doctype html
html
  head
    title= title
    script(src="../lib/jquery/dist/jquery.min.js")
    script(src="../lib/bootstrap/dist/js/bootstrap.min.js")
    link(rel='stylesheet', href='../lib/bootstrap/dist/css/bootstrap.min.css')
    script(src="/moment.min.js")
  body
    block content
